#background_image {
    position: fixed;     /* take it out of the layout */
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-image: url("../../../assets/Background/About.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -1;         /* put it behind all other content */
}

#content {
    justify-content: center;
    align-items: center;
    

    background: rgba(190, 209, 209, 0.6); /* same color, but transparent */
    backdrop-filter: blur(8px);           /* the glass effect */
    -webkit-backdrop-filter: blur(8px);   /* Safari support */

    padding: 20px 40px;
    
    border-radius: 10px; /* optional, looks nice */
    width: 100wv;
}


@media (min-width: 1024px) { 
    #content{
        margin: 30px 100px 0 100px; /* remove the big margins so it doesn’t float oddly */
    }
}